@using Resources
<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@{
  ViewBag.Title = Resource.App_Name;
}
@section style
{
    @Styles.Render("~/Content/fullcalendar.min.css")
    @Styles.Render("~/Content/ColorPicker/jquery.simplecolorpicker.css")
    @Styles.Render("~/Content/button.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
}
<h1 style="text-align: center">Hello, @(System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name")?.Value)</h1>

    <br/>
    <br/>
<div class="">
    <div class="col-sm-3 form-group">
        <label class="form-check-label">Filters By Name:</label>
        <div class="form-check-input" id="nameFilters"></div>
        <br>
        <label class="form-check-label">Filter by Type: </label>
        <br />
        <div class="checkbox">
            <label>
                <input class="form-check-input" type="checkbox" name="Type" value="Lesson">Lesson
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="form-check-input" type="checkbox" name="Type" value="EvaluationMoment">Evaluation Moment
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="form-check-input" type="checkbox" name="Type" value="OfficeHours">Office Hours
            </label>
        </div>
        <br />
    </div>

    <div class="col-sm-9" id='calendar'></div>
</div>


@Html.Partial($"_EventModalPartial")
@Html.Partial($"_AddEventPartial")
          




@section scripts
{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/fullcalendar.min.js")
    @Scripts.Render("~/Scripts/ColorPicker/jquery.simplecolorpicker.js")
    @Scripts.Render("~/scripts/bootstrap-datetimepicker.js")
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/scripts/javascript/functions.js")

    <script>
        var currentEvent = null;
        var start = new Date();
        var end = new Date();
        var viewCalendar = true;
        var minDate = ""; //GlobalVar Stores the datepicker data 

        //Show the model for a new event addtion
        $()
            .ready(function() {
                //Adds FullCalendar IO
                calendar('/Items');
                //Add the Color Picker that's inside alerts modal
                $('select[name="colorpicker"]').simplecolorpicker();
                // Configures validator
                configureValidator();
                //Ajax Request
                getCourses(renderFilterCheckBoxes);
                //Binds Events to Alerts Modal
                AlertModalFunctions();
                // Binds Event to Add Event Button
                bindAddEventButton();
                //Renders the DatePickers
                renderDatePickers();
                //Removes User Added Events
                removeUserAddedEvents();
                //Adds Validator to New Event Submission Form
                addJqueryValidator();
                //Submit the Data of a new event
                saveNewEventBtt();
                //Request for active events that belong to a user
                clickTabFour();
                //Removes Active Alert From the Database
                removeActiveAlert();
                //Request the active reminders
                clickTabFive();
            });

    </script>

}
<!--}
else
{
    <h1>Please Sign Up to be able to see the content.</h1>
}-->


