@using Resources
<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@{
  ViewBag.Title = Resource.App_Name;
}
@section style
{
    @Styles.Render("~/Content/fullcalendar.min.css")
    @Styles.Render("~/Content/ColorPicker/jquery.simplecolorpicker.css")
    @Styles.Render("~/Content/button.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
}
<h1 style="text-align: center">Hello, @(System.Security.Claims.ClaimsPrincipal.Current.FindFirst("preferred_username")?.Value)</h1>

    <br/>
    <br/>
<div class="">
    <div class="col-sm-3 form-group">
        <label class="form-check-label">Filters By Name:</label>
        <div class="form-check-input" id="nameFilters"></div>
        <br>
        <label class="form-check-label">Filter by Type: </label>
        <br />
        <div class="checkbox">
            <label>
                <input class="form-check-input" type="checkbox" name="Type" value="Lesson">Lesson
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="form-check-input" type="checkbox" name="Type" value="EvaluationMoment">Evaluation Moment
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="form-check-input" type="checkbox" name="Type" value="OfficeHours">Office Hours
            </label>
        </div>
        <br />
    </div>

    <div class="col-sm-9" id='calendar'></div>
    <div class="addEventButton">
        <button type="button" class="btn-circle btn-lg" id="addEvent">
            <i class="glyphicon glyphicon-plus iconPlus"></i>
        </button>
    </div>
</div>


<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#1" data-toggle="tab">Info</a>
                    </li>
                    <li>
                        <a href="#2" data-toggle="tab">Color</a>
                    </li>
                    <li>
                        <a href="#3" data-toggle="tab">Alert</a>
                    </li>
                    <li>
                        <a href="#4" data-toggle="tab">Active Alerts</a>
                    </li>
                </ul>

                <div class="tab-content ">
                    <div class="tab-pane active" id="1">
                        <p>
                            Start: <span id="startTime"></span>
                        </p>
                        <p>
                            End: <span id="endTime"></span>
                        </p>
                        <div id="rooms"></div>
                        <div id="lessonType"></div>
                        <div id="teacher"></div>
                        <div id="description"></div>
                    </div>
                    <div class="tab-pane" id="2">
                        <p>You can change the color of each occurence of the item you selected.</p>
                        <select name="colorpicker">
                            <option value="#337ab7">Default Blue</option>
                            <option value="#7bd148">Green</option>
                            <option value="#5484ed">Bold blue</option>
                            <option value="#a4bdfc">Blue</option>
                            <option value="#46d6db">Turquoise</option>
                            <option value="#7ae7bf">Light green</option>
                            <option value="#51b749">Bold green</option>
                            <option value="#fbd75b">Yellow</option>
                            <option value="#ffb878">Orange</option>
                            <option value="#ff887c">Red</option>
                            <option value="#dc2127">Bold red</option>
                            <option value="#dbadff">Purple</option>
                            <option value="#e1e1e1">Gray</option>
                        </select>
                    </div>
                    <div class="tab-pane" id="3">
                        <form id="alertForm">
                            <label class="control-label">Configure Alerts</label>
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-5">
                                    <input class="form-control number"/>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control timeUnit" >
                                        <option>Minutes</option>
                                        <option>Hours</option>
                                        <option>Days</option>
                                        <option>Weeks</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <button class="rm-alert btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </form>
                        <button id="addAlert" class="btn btn-default">Add new alert</button>
                    </div>
                    <div class="tab-pane" id="4">
                        <div class="row">
                            <label class="control-label col-md-12"> Active Alerts</label>
                            <div id="activeAlertForm" class="col-md-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                  
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" id="remove">Remove Event</button>
                <button class="btn btn-primary" id="submit">Save</button>
            </div>
        </div>
    </div>
</div>
          

<div id="addEventModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title-addEvent"></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="new_event-add-form"class="form-horizontal">
                    <div class="form-group">
                        <label for="new_event_name" class="col-sm-2 control-label">Event Name: </label>
                        <div class="col-sm-10">
                            <input class="form-control" id="new_event_name" name="new_event_name">
                        </div>
                     </div>

                    <div class="form-group">
                        <label for="datetimepicker_starttime" class="col-sm-2 control-label">Start Time: </label>
                        <div class="col-sm-10">
                            <div class='input-group date' id='datetimepicker_starttime'>
                                <input type='text' class="form-control" name="datetimepicker_starttime"  onkeydown="return false"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="datetimepicker_endtime" class="col-sm-2 control-label">End Time: </label>
                        <div class="col-sm-10">
                            <div class='input-group date' id='datetimepicker_endtime'>
                                <input type='text' class="form-control" name="datetimepicker_endtime" onkeydown="return false"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_event_room" class="col-sm-2 control-label">Room: </label>
                        <div class="col-sm-10">
                            <select id="new_event_room" class="form-control" name="new_event_room">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="new_event_room" class="col-sm-2 control-label">Course: </label>
                        <div class="col-sm-10">
                            <select id="new_event_course" name="new_event_course" class="form-control">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="new_event_room" class="col-sm-2 control-label">Description: </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="description" id="new_event_description">
                        </div>
                    </div>
                </form>
</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="saveNewEvent">Save</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/fullcalendar.min.js")
    @Scripts.Render("~/Scripts/ColorPicker/jquery.simplecolorpicker.js")
    @Scripts.Render("~/scripts/bootstrap-datetimepicker.js")
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/scripts/javascript/functions.js")

    <script>
        var currentEvent = null;
        var minDate = ""; //GlobalVar Stores the datepicker data 


        //Show the model for a new event addtion
        $()
            .ready(function() {
                //Adds FullCalendar IO
                calendar('/Home/CalendarDefaultData');
                //Add the Color Picker that's inside alerts modal
                $('select[name="colorpicker"]').simplecolorpicker();
                //Ajax Request
                getCourses(renderFilterCheckBoxes);
                //Binds Events to Alerts Modal
                AlertModalFunctions();
                // Binds Event to Add Event Button
                bindAddEventButton();
                //Renders the DatePickers
                renderDatePickers();
                //Removes User Added Events
                removeUserAddedEvents();
                //Adds Validator to New Event Submission Form
                addJqueryValidator();
                //Submit the Data of a new event
                saveNewEventBtt();
                //Request for active events that belong to a user
                clickTabFour();
                //Removes Active Alert From the Database
                removeActiveAlert();
            });

    </script>

}
<!--}
else
{
    <h1>Please Sign Up to be able to see the content.</h1>
}-->


