@using Resources
<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@{
  ViewBag.Title = Resource.App_Name;
}
@section style
{
    @Styles.Render("~/Content/fullcalendar.min.css")
}
<!--
<h1>@ViewBag.Title</h1>
<h2>@Resource.Graph_GetEmailAddress_Heading</h2>
<p>@Html.Raw(Resource.Graph_GetEmailAddress_Instruction)</p>
@using (Html.BeginForm("GetMyEmailAddress", "Home"))
{
    <div class="col-sm-12">
        <div class="form-group">
            <button class="btn btn-default" id="get-my-email-address">@Resource.Graph_GetEmailAddress_Button</button>
        </div>
    </div>
}
    

<div class="col-sm-12">
    <label for="user-email-address">@Resource.Graph_GetEmailAddress_Results_Label</label>
    <pre name="user-email-address">@ViewBag.Email</pre>
</div>

<h2>@Resource.Graph_SendMail_Heading</h2>
<p>@Html.Raw(Resource.Graph_SendMail_Instruction)</p>
@using (Html.BeginForm("SendEmail", "Home"))
{
    <div class="col-sm-12">
            <div class="form-group">
                <label for="recipients">@Resource.Graph_SendMail_Recipients_Label</label>
                <input name="recipients" type="text" class="form-control" value="@ViewBag.Email" @(ViewBag.Email == null ? "disabled" : null) />
            </div>
            <div class="form-group">
                <label for="subject">@Resource.Graph_SendMail_Subject_Label</label>
                <input name="subject" type="text" class="form-control" value="@Resource.Graph_SendMail_Subject_Text @Resource.App_Name_Short" @(ViewBag.Email == null ? "disabled" : null) />
            </div>
            <div class="form-group">
                <button class="btn btn-default @(ViewBag.Email == null ? "disabled" : null)">@Resource.Graph_SendMail_Button</button>
                <input name="email-address" value=@ViewBag.Email type="hidden" />
            </div>
        </div>
}
<div class="col-sm-12">
    <p class="@(ViewBag.Message == null ? "hidden" : null)">@Html.Raw(ViewBag.Message)</p>
</div>
-->
<!--if (Request.IsAuthenticated)
{-->
    <h1 style="text-align: center">Hello, @(System.Security.Claims.ClaimsPrincipal.Current.FindFirst("preferred_username")?.Value)</h1>

    <br/>
    <br/>
    <div class="">
        <div class="col-sm-3">
            <p>Filters By Name:</p>
            <input type="checkbox" name="ClassName" value="Calculos I">Calculos I<br>
            <input type="checkbox" name="ClassName" value="Desenho e Implementação de Software">Desenho e Implementação de Software<br>
            <br>
            <p>Filter by Type: </p>
            <input type="checkbox" name="Type" value="Lesson">Lesson<br/>
            <input type="checkbox" name="Type" value="EvaluationMoment">EvaluationMoment<br>
            <input type="checkbox" name="Type" value="OfficeHours">OfficeHours<br>
            <br/>
        </div>
        <div class="col-sm-9" id='calendar'></div>
    </div>
    @section scripts
    {
        @Scripts.Render("~/Scripts/moment-with-locales.min.js")
        @Scripts.Render("~/Scripts/fullcalendar.min.js")
        <script>
            function calendar(urlToRequestData) {
                // page is now ready, initialize the calendar...

                $('#calendar')
                    .fullCalendar({
                        // put your options and callbacks here
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        defaultDate: '2016-12-12',
                        navLinks: true, // can click day/week names to navigate views
                        editable: true,
                        eventLimit: true, // allow "more" link when too many events
                        events: '' + urlToRequestData + ''
                    });
            }


            //Load The Calendar with it's default events.
            $().ready(function() {
                    calendar('/Home/CalendarDefaulData');
                });


            //Apply Filters
            $()
                .ready(function() {
                    var selectedFilter = $("input[type=checkbox]");
                    var selectedElement = undefined;
                    var FilterToApply = {};

                    selectedFilter.change(function() {
                        selectedElement = $(this);
                        if ($(this).is(':checked')) {
                            FilterToApply[$(this).val()] = $(this).attr('name');

                            //All filters from the same type will be bocked
                            selectedFilter.each(function() {
                                if ($(this).attr('name') == selectedElement.attr('name') &&
                                    $(this).val() != selectedElement.val()) {
                                    $(this).attr("disabled", true);
                                }
                            });
                            //Ajax Request
                            requestGetType(FilterToApply);
                        } else {
                            var valueToRemove = $(this).val();
                            delete FilterToApply[valueToRemove];


                            //Remove Filters to Apply
                            //FilterToApply = $.grep(FilterToApply,
                            //    function(val, index) {
                            //        return val != valueToRemove;
                            //    });


                            selectedFilter.each(function() {
                                if ($(this).attr('name') == selectedElement.attr('name') &&
                                    $(this).val() != selectedElement.val()) {
                                    $(this).removeAttr('disabled');
                                }
                            });

                            //Ajax Request -- Update the data 
                            requestGetType(FilterToApply);
                        }
                    });
                });

            function OnSuccess(response) {
                console.log("Got Success");
              
                //$.fullCalendar('refetchEventSources', sources);
                console.log(response);
            }




            function requestGetType(data) {
                console.log(data);
                console.log(JSON.stringify(data));
                $.ajax({
                    type: "GET",
                    url: "/Home/AddFilter",data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (events) {
                        $('#calendar').fullCalendar('removeEvents');                //Removes Everything
                        $('#calendar').fullCalendar('addEventSource', events);      //Gets The Event
                        $('#calendar').fullCalendar('rerenderEvents');
                    },
                    failure: function (response) {
                        console.log("Fail");
                        alert(response.d);
                    }
                });
            }

        </script>



    }
<!--}
else
{
    <h1>Please Sign Up to be able to see the content.</h1>
}-->

